/* style.css */

/* Variables */
:root {
  --accent-color:             #004d7a;
  --primary-color:            #0072bc;
  --light-color:              #f8f9fa;
  --dark-color:               #1c1c1c;
  --gray-color:               #f0f0f0;
  --light-blue-color:         #e9f3fb;
}

/* General */
body {
  background-color: var(--light-blue-color);
  color: var(--dark-color);
}

/* Encabezado */
.site-header {
  background-color: #14c56c;
  color: #14c56c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Sección principal */
.banner-image {
  background-color: var(--light-color);
  padding: 2rem;
  border-radius: 8px;
}

/* Títulos */
h1, h2, h3 {
  color: var(--accent-color);
}

/* Botones */
.btn.btn-primary {
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 4px;
}
.btn.btn-primary:hover {
  background-color: #003355;
}

/* Footer */
footer {
  background-color: var(--dark-color);
  color: #cccccc;
  padding: 2em 0;
}
